*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

:root{
    --blue-claro: #00a6fb;
    --blue: #0582ca;
    --blue-escuro: #006494;
    --blue-cinza: #003554;
    --black: #051923;
}

body{
    background-color: var(--blue-claro);
}

header{
    background-color: var(--blue-escuro);
    height: 6rem;
    display: flex;
    justify-content: center;
}